.header__lang-link {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  margin-right: 18px;
  text-decoration: none;
}

.header__lang-link:last-child {
  margin-right: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}