.place__title {
  margin: 0;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 738px) and (max-width: 993px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 737px) {
  .place__title {
    margin: 0 16px 0;
    font-size: 32px;
    line-height: 35px;
  }
}