.page {
  box-sizing: border-box;
  background: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  margin: 0 auto;
}

@media screen and (min-width: 1250px) {
  .page {
    max-width: 1280px;
    padding: 28px 48px 24px;
  }
}

@media screen and (min-width: 994px) and (max-width: 1249px) {
  .page {
    padding: 28px 0 24px;
  }
}

@media screen and (min-width: 738px) and (max-width: 993px) {
  .page {
    padding: 28px 0 24px;
  }
}

@media screen and (max-width: 737px) {
  .page {
    min-width: 290px;
    padding: 16px 0 24px;
  }
}