.photo-grid {
  grid-area: photo-grid;
  margin: 0 0 92px;
  display: grid;
}

@media screen and (min-width: 1250px) {
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}

@media screen and (min-width: 994px) and (max-width: 1249px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (min-width: 738px) and (max-width: 993px) {
  .photo-grid {
    margin: 0 0 88px;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

@media screen and (max-width: 737px) {
  .photo-grid {
    margin: 0 0 64px;
    grid-template-columns: 1fr;
    gap: 12px;
  }
}