.places {
  grid-area: places;
  display: grid;
  grid-template-columns: 1fr;
  gap: 80px;
}

@media screen and (min-width: 738px) and (max-width: 993px) {
  .places {
    gap: 73px;
  }
}

@media screen and (max-width: 737px) {
  .places {
    gap: 50px;
  }
}