.places {
  grid-area: places;
  display: grid;
  grid-template-columns: 1fr;
  gap: 80px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places {
    gap: 73px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .places {
    gap: 50px;
  }
}