.cover__subtitle {
  margin: 0;
  width: 360px;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .cover__subtitle {
    width: 265px;
    font-size: 14px;
    line-height: 16px;
  }
}