.header {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header {
    padding: 0 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding: 0 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    padding: 0 16px;
  }
}