.header {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 994px) and (max-width: 1249px) {
  .header {
    padding: 0 48px;
  }
}

@media screen and (min-width: 738px) and (max-width: 993px) {
  .header {
    padding: 0 24px;
  }
}

@media screen and (max-width: 737px) {
  .header {
    padding: 0 16px;
  }
}