.content {
  display: grid;
}

@media screen and (min-width: 1280px){
  .content {
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      ". lead ."
      ". intro ."
      "photo-grid photo-grid photo-grid"
      ". places ."
      "cover cover cover";
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .content {
    grid-template-columns: 48px 1fr 48px;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      ". lead ."
      ". intro ."
      ". photo-grid ."
      ". places ."
      "cover cover cover";
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .content {
    grid-template-columns: 24px 1fr 24px;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "lead lead lead"
      ". intro ."
      ". photo-grid ."
      ". places ."
      "cover cover cover";
  }
}

@media screen and (max-width: 767px) {
  .content {
    grid-template-columns: 16px 1fr 16px;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "lead lead lead"
      ". intro ."
      ". photo-grid ."
      "places places places"
      "cover cover cover";
  }
}