.footer__link {
  margin: 0 18px 0 0;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__link {
    margin: 0;
    font-size: 24px;
    line-height: 24px;
  }
}