.lead__title {
  color: #FFFFFF;
  width: 720px;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 737px){
  .lead__title {
    width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}