.lead__title {
  margin: 48px 0 0;
  color: #FFFFFF;
  width: 720px;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

@media screen and (min-width: 1280px) {
  .lead__title {
    margin: 56px 0 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px){
  .lead__title {
    width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}