.footer__copyright {
  margin: 0;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .footer__copyright {
    margin: 48px 0 0;
    line-height: 14px;
  }
}