.lead__subtitle {
  margin: 32px 0 56px;
  width: 640px;
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 1280px) {
  .lead__subtitle {
    margin: 32px 0 64px;
  }
}

@media screen and (max-width: 767px){
  .lead__subtitle {
    margin: 16px 0 40px;
    width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}