.cover {
  grid-area: cover;
  margin: 92px 0 92px;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 738px) and (max-width: 993px) {
  .cover {
    margin: 90px 0 88px;
  }
}

@media screen and (max-width: 737px) {
  .cover {
    margin: 41px 0 64px;
  }
}