.cover {
  grid-area: cover;
  margin: 92px 0 92px;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    margin: 90px 0 88px;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .cover {
    margin: 41px 0 64px;
  }
}