.cover__title {
  margin: 0 0 32px;
  width: 560px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__title {
    margin: 0 0 16px;
    width: 255px;
    font-size: 32px;
    line-height: 35px;
  }
}