.places__website_link {
  margin: 12px 0 0;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.places__website_link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .places__website_link {
    margin: 12px 16px 0;
  }
}