.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .footer__list {
    min-height: 248px;
    flex-direction: column;
    justify-content: space-between;
  }
}