.place__url-heading {
  margin: 0;
  color: #AAAAAA;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__url-heading {
    margin: 0 16px 0;
  }
}